.login-body {
    text-align: center;
    margin-top: 100px;
}

.container {
    border: 2px solid black;
    padding: 20px;
    width: 250px;
    margin: auto;
}

.btn {
    padding: 10px;
}

.modal {
    display: none;
    background-color: pink;
    padding: 20px;
    width: 200px;
    margin: 20px auto;
}